.calculator-body{
    margin-left: 600px;
    margin-top: 50px;
    height: 450px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 20px 20px 20px ;
}
.calculator-body h3{
    color: cyan;
    text-align: center;
}
.first-row{
    display: flex;
    text-align: center;
    width: 95%;
    margin:0 auto;
}
.c-btn{
    margin: 27px 19px;
}
footer{
    margin-top: 175px;
    text-align: center;
}