.form{
    width: 400px;
    height: 200px;
    margin-top: 200px;
    margin-left: 600px;
}
.form button{
    margin-top: 10px;
}
.icon{
    color: 'black';
}
.form-control{
    position: relative;
}
.eye{
    position: absolute;
    margin-top: -26px;
    margin-left: 370px; 
    cursor: pointer;
}
.valid{
    width: 300px;
    height: 200px;
    border: 2px solid wheat;
    margin-left: 600px;
    margin-top: 50px;
    display:none;
}
.valid p{
    margin-top: 13px;
    margin-left: 20px;
    color: red;
}